<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Direct Messaging</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/Chat/reset.min.css">
    <link rel="stylesheet" href="/static/css/Chat/style.css">


</head>

<body>
<div class="wrapper" th:fragment="chat">
    <label for="senderIdentityDocument"></label><input hidden="hidden" id="senderIdentityDocument" name="username"
                                         th:value="${session.user.getUsername()}">
    <div class="chat-container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search"/>
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people" style="padding: 0">
                <li class="person" data-chat="person1">
                    <img src="/static/img/Chat/a.jpg" alt=""/>
                    <span class="name">Test</span>
                    <span class="time">2:09 PM</span>
                    <span class="preview">I was wondering...</span>
                </li>
                <li class="person" data-chat="person2">
                    <img src="/static/img/Chat/a.jpg" alt=""/>
                    <span class="name">Dog Woofson</span>
                    <span class="time">1:44 PM</span>
                    <span class="preview">I've forgotten how it felt before</span>
                </li>

            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name receiverIdentityDocument">test</span></span></div>
            <div class="chat" data-chat="person1">
                <div class="conversation-start">
                    <span>Today, 6:48 AM</span>
                </div>
            </div>
            <div class="chat" data-chat="person2">
                <div class="conversation-start">
                    <span>Today, 5:38 PM</span>
                </div>
                <div class="bubble you">
                    Hello, can you hear me?
                </div>
                <div class="bubble you">
                    I'm in California dreaming
                </div>
                <div class="bubble me">
                    ... about who we used to be.
                </div>
                <div class="bubble me">
                    Are you serious?
                </div>
                <div class="bubble you">
                    When we were younger and free...
                </div>
                <div class="bubble you">
                    I've forgotten how it felt before
                </div>
            </div>

            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <label for="msg-input"></label><input type="text" id="msg-input"/>
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send" onclick="sendMsg()"></a>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/Chat/index.js"></script>
<script src="/static/js/Chat/private-chat.js"></script>


</body>

</html>
