<!-- complaint modal -->
<div class=" modal fade " id="reportCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title complaint-modal-title">请选择举报理由</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="complaint-modal-body">
                <div class="form-hidden" hidden="hidden">
                    <span class="commentBean-id"></span>
                    <span class="reported-user"></span>
                    <span class="be-reported-user"></span>
                    <span class="reported-content"></span>
                </div>
                <div class="type-one type-class">
                    <span class="type-one-title type-title">违反法律法规</span>
                    <div class="row type-row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-one-radio-1" value="违法违禁" >
                            <label class="form-check-label" for="type-one-radio-1">
                                违法违禁
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-one-radio-2" value="色情" >
                            <label class="form-check-label" for="type-one-radio-2">
                                色情
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-one-radio-3" value="低俗" >
                            <label class="form-check-label" for="type-one-radio-3">
                                低俗
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-one-radio-4" value="赌博诈骗" >
                            <label class="form-check-label" for="type-one-radio-4">
                                赌博诈骗
                            </label>
                        </div>
                    </div>
                </div>
                <div class="type-two type-class">
                    <span class="type-two-title type-title">侵犯个人权益</span>
                    <div class="row type-row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-two-radio-1" value="人身攻击" >
                            <label class="form-check-label" for="type-two-radio-1">
                                人身攻击
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-two-radio-2" value="侵犯隐私" >
                            <label class="form-check-label" for="type-two-radio-2">
                                侵犯隐私
                            </label>
                        </div>
                    </div>
                </div>
                <div class="type-three type-class">
                    <span class="type-three-title type-title">有害社区环境</span>
                    <div class="row type-row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-three-radio-1" value="垃圾广告" >
                            <label class="form-check-label" for="type-three-radio-1">
                                垃圾广告
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-three-radio-2" value="引战" >
                            <label class="form-check-label" for="type-three-radio-2">
                                引战
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-three-radio-3" value="剧透" >
                            <label class="form-check-label" for="type-three-radio-3">
                                剧透
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-three-radio-4" value="刷屏" >
                            <label class="form-check-label" for="type-three-radio-4">
                                刷屏
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-three-radio-5" value="抢楼" >
                            <label class="form-check-label" for="type-three-radio-5">
                                抢楼
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-three-radio-6" value="视频不相关" >
                            <label class="form-check-label" for="type-three-radio-6">
                                视频不相关
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-three-radio-7" value="青少年不良信息" >
                            <label class="form-check-label" for="type-three-radio-7">
                                青少年不良信息
                            </label>
                        </div>
                    </div>
                </div>
                <div class="type-four type-class">
                    <span class="type-four-title type-title">其他</span>
                    <div class="row type-row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="report-commentBean-radio" id="type-four-radio-1" value="其他" >
                            <label class="form-check-label" for="type-four-radio-1">
                                其他
                            </label>
                        </div>
                        <textarea name="description-input-commentBean" id="description-input-commentBean" cols="62" rows="5" maxlength="400" onchange="this.value=this.value.substring(0, 400)"
                                  onkeydown="this.value=this.value.substring(0, 400)" onkeyup="this.value=this.value.substring(0, 400)"  placeholder="多行文本框限400字"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="sendReportComment()">提交</button>
            </div>
        </div>
    </div>
</div>