<div class="wrapper" th:fragment="chat">
    <div class="chat-container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search"/>
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people" style="padding: 0">
                <!--                <li class="person" data-chat="person1">-->
                <!--                    <img src="/static/img/Chat/a.jpg" alt=""/>-->
                <!--                    <span class="name">Test</span>-->
                <!--                    <span class="time">2:09 PM</span>-->
                <!--                    <span class="preview">I was wondering...</span>-->
                <!--                </li>-->
                <!--                <li class="person" data-chat="person2">-->
                <!--                    <img src="/static/img/Chat/a.jpg" alt=""/>-->
                <!--                    <span class="name">Dog Woofson</span>-->
                <!--                    <span class="time">1:44 PM</span>-->
                <!--                    <span class="preview">I've forgotten how it felt before</span>-->
                <!--                </li>-->

            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name "></span></span></div>
            <div class="detail-chat">
                <!--                <div class="chat" data-chat="test">-->
                <!--                    <div class="conversation-start">-->
                <!--                        <span>Today, 6:48 AM</span>-->
                <!--                    </div>-->

                <!--                </div>-->
                <!--                <div class="chat" data-chat="1">-->
                <!--                    <div class="conversation-start">-->
                <!--                        <span>Today, 6:48 AM</span>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <label for="msg-input"></label><input type="text" id="msg-input"/>
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send" onclick="sendMsg()"></a>
            </div>
        </div>
    </div>
</div>
