<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="nav"
     style="background-color: rgba(248, 247, 249, 0.68);">
    <a class="navbar-brand" href="#">筱筱弹幕网</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between qwe" id="navbarColor03">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/index}">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="locateAt('music')">音频</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.4399.com">游戏中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" >会员购</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">漫画</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">下载APP</a>
            </li>
        </ul>
        <ul class="navbar-nav" th:each="cookie :${#httpServletRequest.getCookies()}"
            th:if="${cookie.getName().equals('Token')}">
            <li class="nav-item">
                <form class="form-inline nav-search" th:action="@{/search}" method="get">
                    <input class="form-control mr-sm-2" name="information" type="search" placeholder="输入搜索的内容"
                           aria-label="输入搜索的内容">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </li>
            <li class="nav-item "><a class="nav-link" href="#" th:href="@{/homePage}">我的</a></li>
            <li class="nav-item"><a class="nav-link" href="#" th:href="@{/reply}">动态</a></li>
            <li class="nav-item"><a class="nav-link" href="#" th:href="@{/promoteVideo}">我要推广</a></li>
            <li class="nav-item"><a class="nav-link" href="#" th:href="@{/homePage#v-pills-collect}">收藏</a></li>
            <li class="nav-item"><a class="nav-link" href="#">历史</a></li>
            <li class="nav-item"><a class="nav-link" href="#" th:href="@{/contribute}">投稿</a></li>
            <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal"
                                    data-target="#logoutModal">注销</a></li>
        </ul>
        <!--未登录的请登录-->
        <!--        <div class="login-content">-->
        <!--            <ul class=" navbar-nav">-->
        <!--                <li class="nav-item">-->
        <!--                    <form class="form-inline nav-search" th:action="@{/search}" method="get">-->
        <!--                        <input class="form-control mr-sm-2" name="information" type="search" placeholder="输入搜索的内容"-->
        <!--                               aria-label="输入搜索的内容">-->
        <!--                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜索</button>-->
        <!--                    </form>-->
        <!--                </li>-->
        <!--                <li class="nav-item"><a class="nav-link" href="/login" th:href="@{/login}">登陆</a></li>-->
        <!--                <li class="nav-item"><a class="nav-link" href="/login" th:href="@{/register}">注册</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
        <!--        <div th:unless="${#httpServletRequest.getCookies()}">-->
        <!--            <ul class=" navbar-nav">-->
        <!--                <li class="nav-item">-->
        <!--                    <form class="form-inline nav-search" th:action="@{/search}" method="get">-->
        <!--                        <input class="form-control mr-sm-2" name="information" type="search" placeholder="输入搜索的内容"-->
        <!--                               aria-label="输入搜索的内容">-->
        <!--                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜索</button>-->
        <!--                    </form>-->
        <!--                </li>-->
        <!--                <li class="nav-item"><a class="nav-link" href="/login" th:href="@{/login}">登陆</a></li>-->
        <!--                <li class="nav-item"><a class="nav-link" href="/login" th:href="@{/register}">注册</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
    </div>
</nav>
<div class="back-img"></div>