<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/static/ico/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/upload-video.css">
    <title>创作中心-筱筱弹幕网</title>
</head>
<body>
<!--header-->
<div th:include="fragment/nav"></div>
<div class="container-fluid">
    <div class="row " style="margin: auto 0;height: 100%">
        <div class="nav flex-column left-nav  col-lg-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home">
                <img src="/static/img/videoOps/brand.png" alt="xiaoxiao创作中心" style="width: 100%;height: 100%">
                <span>投稿</span>
            </a>
            <a class="nav-link" id="v-pills-index-tab" data-toggle="pill" href="#v-pills-index">首页管理</a>
            <a class="nav-link" id="v-pills-contain-tab" data-toggle="pill" href="#v-pills-contain">内容管理</a>
            <a class="nav-link" id="v-pills-data-tab" data-toggle="pill" href="#v-pills-data">数据中心</a>
            <a class="nav-link" id="v-pills-follows-tab" data-toggle="pill" href="#v-pills-follows">粉丝管理</a>
            <a class="nav-link" id="v-pills-play-tab" data-toggle="pill" href="#v-pills-play">互动管理</a>
            <a class="nav-link" id="v-pills-earn-tab" data-toggle="pill" href="#v-pills-earn">收益管理</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings">个人设置</a>
            <a class="nav-link" id="v-pills-complain-tab" data-toggle="pill" href="#v-pills-complain">申诉管理</a>
            <a class="nav-link" id="v-pills-prize-tab" data-toggle="pill" href="#v-pills-prize">创作新秀奖</a>
            <a class="nav-link" id="v-pills-suggest-tab" data-toggle="pill" href="#v-pills-suggest">反馈与建议</a>
            <a class="nav-link" id="v-pills-help-tab" data-toggle="pill" href="#v-pills-help">帮助中心</a>
            <a class="nav-link" id="v-pills-authentication-tab" data-toggle="pill" href="#v-pills-authentication">XiaoXiao认证</a>
        </div>
        <div class="right-contain col-lg-10">
            <div>
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#v-pills-home" role="tab"
                           aria-controls="home" aria-selected="true">视频投稿</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#v-pills-audio" role="tab"
                           aria-controls="profile" aria-selected="false">音频投稿</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#v-pills-photos" role="tab"
                           aria-controls="contact" aria-selected="false">相簿投稿</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="v-pills-tabContent" style="margin-top: 50px">
                <div class="tab-pane fade show active" id="v-pills-home">
                    <form enctype="multipart/form-data" method="post" class="uploadform" id="upload">
                        <div class="form-group row">
                            <label for="videoTitle" class="col-sm-2 col-form-label">视频标题 ：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="videoTitle" name="videoTitle"
                                       placeholder="Video Title" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="videoType" class="col-sm-2 col-form-label" style="margin-top: 18px">视频类型
                                ：</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="videoType" id="videoType">
                                    <option value="动画">动画</option>
                                    <option value="番剧">番剧</option>
                                    <option value="国创">国创</option>
                                    <option value="音乐">音乐</option>
                                    <option value="舞蹈">舞蹈</option>
                                    <option value="游戏">游戏</option>
                                    <option value="科技">科技</option>
                                    <option value="数码">数码</option>
                                    <option value="生活">生活</option>
                                    <option value="鬼畜">鬼畜</option>
                                    <option value="时尚">时尚</option>
                                    <option value="广告">广告</option>
                                    <option value="娱乐">娱乐</option>
                                    <option value="影视">影视</option>
                                    <option value="燃向">燃向</option>
                                    <option value="其他" selected>其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="videoName" class="col-sm-2 col-form-label">视频名称 ：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="videoName" name="videoName"
                                       placeholder="Video Name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="videoDescription" class="col-sm-2 col-form-label">视频描述 ：</label>
                            <div class="col-sm-8">
                                <textarea type="text" class="form-control" id="videoDescription" name="videoDescription"
                                          placeholder="Video Description" maxlength="300" wrap="hard"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="choice-video-file" class="col-sm-2 col-form-label">选择视频文件 ：</label>
                            <div class="col-sm-8">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="choice-video-file"
                                           onchange="showFilenameVideo(this.files[0])" accept=".mp4">
                                    <label class="custom-file-label custom-file-label-video" for="choice-video-file">选择文件</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="choice-video-cover-file" class="col-sm-2 col-form-label">选择视频封面 ：</label>
                            <div class="col-sm-8">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="choice-video-cover-file"
                                           onchange="showFilenameCover(this.files[0])" accept=".png, .jpg,.jpeg">
                                    <label class="custom-file-label custom-file-label-cover"
                                           for="choice-video-cover-file">选择文件</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <button class="btn btn-outline-primary" style="width: 20%;margin: auto" onclick="Submit()">
                                提交
                            </button>
                        </div>

                    </form>
                </div>
                <div class="tab-pane fade" id="v-pills-index">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-contain">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-data">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-follows">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-play">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-earn">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-complain">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-prize">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-suggest">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-help">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-authentication">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-audio">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-photos">
                    <div style="text-align: center">
                        <img src="/static/img/nodata.png" alt="nodata">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div th:include="modal/logoutModal"></div>
<div th:include="modal/uploadFilesModal"></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/js/upload/upload.js"></script>
<script type="text/javascript" src="/static/js/effects/mouse-effects.js"></script>
<!-- 显示文件名 -->
<script>
    function showFilenameVideo(file) {
        $(".custom-file-label-video").html(file.name);
    }

    function showFilenameCover(file) {
        $(".custom-file-label-cover").html(file.name);
    }
</script>
</body>
</html>