<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/bootstrap-4.3.1/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index-css.css">
    <link rel="stylesheet" href="/static/css/pagePlugCSS/mricode.pagination.css">
    <link rel="stylesheet" href="/static/css/user/user.css">
    <title th:text="${session.user.getUserNickName()} + '的个人主页'">我的主页</title>
    <style>

    </style>
</head>
<body onload="queryCollections()">
<!--header-->
<div th:include="nav"></div>
<!--页面头像特效区-->
<div class="site-master">
    <a href="">
        <img class="site-master-avatar" src="" th:if="${session.user != null}"
             th:src="${session.user.getUserHeadIcon()}" alt="headicon">
    </a>
    <h2 class="site-master-description">
        <span>欢迎访问，</span>
        <span>筱筱弹幕网！</span>
    </h2>
</div>
<div class="container">
    <label>
        <input hidden="hidden" type="text" class="username" th:value="${session.user.getUsername()}">
    </label>
    <div class="row">
        <div class="nav flex-column nav-pills col-12 col-sm-12 col-md-12 col-lg-2 col-xl-3" id="v-pills-tab"
             role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">我的头像</a>
            <a class="nav-link" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab"
               aria-controls="v-pills-info" aria-selected="false" onclick="selectInfo()">个人信息</a>
            <a class="nav-link" id="v-pills-contribute-tab" data-toggle="pill" href="#v-pills-contribute" role="tab"
               aria-controls="v-pills-contribute" aria-selected="false" onclick="selectContribution()">我的投稿</a>
            <a class="nav-link" id="v-pills-collect-tab" data-toggle="pill" href="#v-pills-collect" role="tab"
               aria-controls="v-pills-collect" aria-selected="false" onclick="queryCollections()">我的收藏</a>
            <a class="nav-link" id="v-pills-friends-tab" data-toggle="pill" href="#v-pills-friends" role="tab"
               aria-controls="v-pills-friends-tab" aria-selected="false" onclick="queryFollows()">我的关注</a>
        </div>
        <div class="tab-content col-12 col-sm-12 col-md-12 col-lg-10 col-xl-9" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <form th:action="@{/modifyHeadIcon}" enctype="multipart/form-data" method="post">
                    <div class="row justify-content-center text-center">
                        <div class="cg-headicon-img col-lg-3">
                            <label data-v-15325571="" for="file_input" class="first-change-lb text-center">
                                <i data-v-15325571=""></i>
                                <span data-v-15325571="">选择图片</span>
                            </label>
                            <input data-v-15325571="" type="file" name="file" id="file_input"
                                   accept="image/png,image/jpg,image/jpeg">
                        </div>
                        <div class="cur-headicon-img col-6 col-lg-3">
                            <img src="" th:src="${session.user.getUserHeadIcon()}" alt="" class="site-master-avatar">
                        </div>
                        <div class="cur-headicon-img col-lg-3 offset-lg-1">
                            <img src="" alt="预览" id="pre" class="site-master-avatar">
                        </div>
                        <p data-v-15325571="" class="descript">请选择图片上传：大小180 * 180像素支持JPG、PNG等格式，图片需小于2M</p>
                    </div>
                    <button type="submit" class="btn btn-primary sub col-lg-2 col-md-2 col-xl-2 col-sm-3 col-6">更新
                    </button>
                </form>

            </div>
            <div class="tab-pane fade" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
                <div class="user-infos">
                    <!--/*@thymesVar id="user" type="com.kaciry.entity.User"*/-->
                    <form action="#" method="post" th:object="${user}" id="user-info">
                        <div class="form-group row">
                            <label for="username" class="col-3 col-sm-2 col-form-label">用户名</label>
                            <div class="col-8 col-sm-8">
                                <input type="text" class="form-control" id="username"
                                       name="username"
                                       th:value="${session.user.getUsername()}"
                                       readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="isvip" class="col-3 col-sm-2 col-form-label"
                            >大会员</label>
                            <div class="col-8 col-sm-8">
                                <input type="text" class="form-control" id="isvip" name="isVip"
                                       th:value="${session.user.getIsVip()}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="level" class="col-3 col-sm-2  col-form-label"
                            >等级</label>
                            <div class="col-8 col-sm-8">
                                <input type="text" class="form-control" id="level" name="userLevel"
                                       th:value="${session.user.getUserLevel()}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-3 col-sm-2  col-form-label"
                            >邮箱</label>
                            <div class="col-8 col-sm-8">
                                <input type="email" class="form-control" id="email" name="userEmail"
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mobilephone" class="col-3 col-sm-2   col-form-label"
                            >手机号</label>
                            <div class="col-8 col-sm-8">
                                <input type="tel" class="form-control" id="mobilephone" name="userPhoneNumber"
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nickname" class="col-3 col-sm-2   col-form-label"
                            >昵称</label>
                            <div class="col-8 col-sm-8">
                                <input type="text" class="form-control" id="nickname" name="userNickName"
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sex" class="col-3 col-sm-2   col-form-label"
                            >性别</label>
                            <div class="col-8 col-sm-8">
                                <input type="text" class="form-control" id="sex" name="userSex"
                                >
                            </div>
                        </div>
                        <div class="form-group row" style="margin-top: 50px">
                            <label for="sex" class="col-sm-2 col-form-label"
                            ></label>
                            <div class="col-sm-8">
                                <button onclick="changeInfo()" class="btn btn-primary btn-lg btn-block ">Submit
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-contribute" role="tabpanel" aria-labelledby="v-pills-contribute-tab">
                <div class="container-fluid">
                    <ul class="My-Contribution-content row">
                        <!--                        <li class="col-6 col-md-3 items" style="display: block">-->
                        <!--                            <a href="#" target="_blank" class="cover">-->
                        <!--                                <div class="cover"><img src="img/a.jpg" alt="cover"-->
                        <!--                                                        class="videoCover"></div>-->
                        <!--                            </a>-->
                        <!--                            <a href="" target="_blank" title="" class="title">测试</a>-->
                        <!--                            <div class="meta">-->
                        <!--                                <span class="play"><i class="icon">119789</i></span>-->
                        <!--                                <span class="time"><i class="icon">2019-08-10 </i></span>-->
                        <!--                            </div>-->
                        <!--                        </li>-->

                    </ul>
                </div>
                <div id="page" class="m-pagination"></div>

            </div>
            <div class="tab-pane fade" id="v-pills-collect" role="tabpanel" aria-labelledby="v-pills-collect-tab">
                <div class="container-fluid">
                    <ul class="row My-Collections">
                    </ul>
                    <div id="page1" class="m-pagination"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-friends" role="tabpanel" aria-labelledby="v-pills-friends-tab">
                <div class="container follow-container">
                    <div class="allFollows" title="allFollows">全部关注</div>
                    <hr>
                    <div class="line" style="height: 20px"></div>
                    <div class="content">

                    </div>
                </div>
                <div id="page2" class="m-pagination"></div>
            </div>
        </div>
    </div>

</div>
<!-- Modal -->
<div th:include="logoutModal"></div>
<!--<div th:include="cancelModal"></div>-->
<script src="/static/js/Jquery/jquery-3.4.1.js"></script>
<script src="/static/bootstrap-4.3.1/dist/js/bootstrap.js"></script>
<script src="/static/js/userInfoManager.js"></script>
<script src="/static/js/pagePulg/mricode.pagination.js"></script>
<script>
    //图片预览js
    $("#file_input").change(function () {
        let objUrl = getObjectURL(this.files[0]);//获取文件信息
        console.log("objUrl = " + objUrl);
        if (objUrl) {
            $("#pre").attr("src", objUrl);
        }
    });

    function getObjectURL(file) {
        let url = null;
        if (window.createObjectURL !== undefined) {
            url = window.createObjectURL(file);
        } else if (window.URL !== undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL !== undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
</script>
<script>
    //跳转tab js
    let hash = location.hash;//获取到跳转页面的参数
    let tab = $('#v-pills-tab a');
    let con = $('.tab-content .tab-pane');
    for (let i = 0; i < con.length; i++) {
        let mm = con[i];
        let selectCon = "#" + $(mm).attr('id');
        if (hash === selectCon) {
            tab.siblings().removeClass('active');
            con.siblings().removeClass('active');
            $(tab[i]).addClass('active show');
            $(con[i]).addClass('active show');
        }
    }
</script>
</body>
</html>