<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/music-css.css">
    <link rel="stylesheet" href="/static/css/pagePlugCSS/adminPageHandle.css">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        background: url("static/img/bg.jpg");
    }

    .columnContent {
        background: rgba(224, 225, 204, 0.95);
    }
</style>
<body>
<div id="column">

    <div class="container">
        <nav aria-label="breadcrumb" role="navigation" style="cursor:pointer">
            <ol class="breadcrumb" style="margin: 0px">
                <li class="breadcrumb-item active" aria-current="page" @click="resetNum(0)">全部专栏</li>
                <li class="breadcrumb-item" @click="resetNum(1)">今日</li>
                <li class="breadcrumb-item" @click="resetNum(2)">最近三天</li>
            </ol>
        </nav>
        <div class="columnContent" style="padding: 15px;">
            <div v-for="item in columnList.slice(b,a)">
                <div class=>
                    <div style="margin-top:5px;font-family: cursive;font-weight: 700;">
                        <div>
                            <img :src='item.userHeadIcon'
                                 style="height: 50px;width: 80px;border-radius: 50%" class="col">
                            <span>昵称:{{item.userNickName}}</span>
                            <span>用户名:{{item.username}}</span>
                            <span>会员等级:{{item.isVip}}</span>
                            <span style="float: right;padding: 10px">发布时间:{{item.uploadTime}}</span>
                        </div>
                        <div>
                            <span style="padding: 10px">个性签名:{{item.userSignature}}</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div v-html="item.columnContent" style="padding: 0 50px">{{item.columnContent}}</div>
                <hr>
                <div style="margin-top: 50px"></div>
            </div>
            <div class="load-more mr-bottom" v-if="a<columnList.length" @click='loadMore()'
                 style="text-align: center;font-family: monospace;"><span>点击加载更多</span></div>
            <div class="load-more mr-bottom" style="text-align: center;font-family: monospace;" v-else>拜托 我也是有底线的好吗！！！
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/js/column/column.js"></script>

</body>
</html>

