.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 57px;
}

.left-nav {
    background-color: #f8f8f8;
}

.left-nav .nav-link {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 12px;
}

/*--------------------------------*/

.uploadform select {
    margin: 20px auto;
}

.navbar {
    margin-bottom: 0;
    padding-right: 0;
}


.broadside-nav a {
    font-size: 17px;
}

.nav-li img {
    width: 100%;
    height: 100%;
}

.uploadform1 input {
    width: 60%;
    margin-left: 300px;
}

.col-form-label {
    text-align: right;
}

#videoDescription{
    height: 100px;
}

.custom-file-input:lang(zh) {
    content: "浏览";
}

.custom-file-label::after {
    content: "浏览";
}

/*网页自定义指针*/
body {
    cursor: url("/static/img/cursor.ico"), auto;
}