.content {
    margin-top: 55px;
}

.videoInfo h3 {

    margin-top: 30px;
    margin-left: -.5em;
}
.dplayer {
    height: 600px;
}

.video-data span {
    color: #999;
}

/*.ops {*/
/*    margin-top: -30px;*/
/*    height: 62px;*/
/*    border-bottom: 1px solid #e5e9ef;*/
/*}*/

.info span {
    margin-top: 20px;
    width: 700px;
    white-space: pre-line;
    overflow: hidden;
    line-height: 22px;
}

.video-desc {
    border-bottom: 1px solid #e5e9ef;
}

.discuss-head {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e9ef;
}

.discuss {
    font-size: 20px;
}

.discuss-input {
    height: 100px;
    margin-bottom: 30px;
    margin-top: 40px;
    border-bottom: 1px solid #e5e9ef;
}


body {
    background: url(/static/img/bg.jpg) top/cover no-repeat fixed;
    width: 100%;
    height: 100%;
    color: #666;
    line-height: 22px;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

/*.container {*/
/*    background-color: white;*/
/*}*/

/*.media-nickname {*/
/*    margin-top: 0;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.media-p {*/
/*    margin: 0 0 5px;*/
/*}*/

.media-hr {
    margin-top: 0;
    margin-bottom: 25px;
}

.reply-child {
    margin-left: 10px;
}

.media img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
/*.headIcon-div {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

.m-pagination {
    margin-left: 20px;
}

.ops span {
    margin-right: 3%;
}

.ops {
    margin-left: 5px;
    margin-bottom: 10px;
}

.ops em {
    margin-left: 5px;
}

a {
    text-decoration: none !important;
}

hr {
    margin-top: 10px !important;
}

/*-----------------------------*/
.videoInfo {
    padding: 0 20px;
    margin-bottom: 5px;
}

.user-data {
    margin-top: 20px;

}

.video-data h3 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.media-body p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-data img {
    border-radius: 50%;
}

.media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.media button {
    width: 140px;
}

.media-body h5, p {
    margin-bottom: 0;
}

.media-body {
    width: 85%;
}

.dropdown-toggle::after {
    border-right:0;
    border-left:0;
}


/*-------------------------------*/

.complaint-video {
    margin-right: 10px;
}
.complaint-modal-title {
    margin-left:auto;
}
.description-input{
    margin-top: 5px;
}
#description-input{
    width: 100%;
}
.complaint-modal-body{
    padding-left: 20px;
    padding-right: 20px;
}
input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #454c54;
    text-indent: .15em;
    line-height: 1;
}
input[type="radio"]:checked + label::before {
    background-color: #01cd78;
    background-clip: content-box;
    padding: .2em;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.type-class {
    margin-bottom: 20px;
}
.type-row{
    margin-top: 10px;
}
.type-title{
    color: #99a2aa;
}
.type-row label{
    font-size: small;
}
#description-input-comment{
    margin-top: 10px;
    margin-left: 15px;
}
.media .btn-group a {
    text-decoration: none;
    color: #6c757d;

}
.media .btn-group a:hover {
    cursor: pointer;
}

/*网页自定义指针*/
body {
    cursor: url("/static/img/cursor.ico"), auto;
}