<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>筱筱弹幕网</title>
    <link rel="stylesheet" href="/static/bootstrap-4.3.1/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/DPlayer.min.css">
    <link rel="stylesheet" href="/static/css/pagePlugCSS/mricode.pagination.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/video.css">
</head>
<body>
<!--导航栏-->
<div th:include="nav"></div>

<div class="container content">

        <div class="videoInfo">
            <div class="video-data">
                <h3 id="videoTitle">【测试】这是一个筱筱弹幕网的测试视频。</h3>
                <span id="videoPlayNum">44.6万</span><span>播放 · </span><span id="barrageNum">999+弹幕</span>
            </div>
        </div>
        <div class="Dplayer_box">
            <div class="player_av">
                <div id="dplayer"></div>
            </div>
        </div>

        <div class=" row ops">
        <span class="star">
            <a href="#" onclick="clickStar()">
                <img src="/static/img/videoOps/star_before.png" alt=""/>
                <em id="starNum">99万</em>
            </a>
        </span>
            <span class="coin">
            <a href="#">
                <img src="/static/img/videoOps/coin-before.png" alt=""/>
                <em id="coinNum">99万</em>
            </a>
        </span>
            <span class="connection">
            <a href="#" onclick="clickCollect()">
                <img src="/static/img/videoOps/cn_before.png" alt=""/>
               <em id="connectionNum">99万</em>
            </a>
        </span>
            <span class="share">
            <a href="#" >
                <img src="/static/img/videoOps/share_before.png" alt=""/>
                <em id="shareNum">99万</em>
            </a>
        </span>
        </div>
        <hr>
        <div class="video-desc">
            <div class="info open" id="info">
                玄机出，斗罗行，歌行舞，缘起足，红娘现。为了制作这个视频，书生把所有的素材都看了一遍，并且记下每一个片段的时间，后期再进行长期的剪辑，希望大家喜欢这个视频。
                求二连三连，求二连三连，求二连三连，重要的事说三遍。
                素材：秦时明月之君临天下，秦时明月之天行九歌，秦时明月之沧海横流，狐妖小红娘，斗罗大陆，少年歌行，白蛇缘起。
            </div>
        </div>

        <div id="testAppend ">

            <div class="discuss-head">

                <span class="discuss" id="playNum">20万</span>
                <span>评论</span>
                <div style="height: 10px"></div>
            </div>
            <div class="discuss-input" th:if="${session.user != null}">
                <div class="media col-12">
                    <a class="media-left" href="#">
                        <div>
                            <img src="/static/img/null.jpeg" alt="" th:src="${session.user.getUserHeadIcon()}">
                        </div>
                    </a>
                    <div class="media-body col-10">
                        <form class="form row" id="comment" method="post" style="margin-top: 10px">
                            <label for="nickname"></label><input hidden="hidden" id="nickname" name="nickname" th:value="${session.user.getUserNickName()}">
                            <label for="username"></label><input hidden="hidden" id="username" name="username" th:value="${session.user.getUsername()}">
                            <input class="form-control col-7 offset-1 col-md-8" type="text" placeholder="说点什么吧!"
                                   aria-label="Discuss" aria-describedby="basic-addon1" value="" name="msg" id="discuss">
                            <button type="submit" class="btn btn-primary col-3 offset-1  col-md-2" onclick="return  sendComment()">发表</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="pageComment">

            </div>
        </div>
        <div id="page" class="m-pagination"></div>

</div>
<!--模态框-->
<div th:include="logoutModal"></div>

<script src="/static/js/Jquery/jquery-3.4.1.js"></script>
<script src="/static/bootstrap-4.3.1/dist/js/bootstrap.js"></script>
<script src="/static/js/DPlayer.min.js"></script>
<script src="/static/js/pagePulg/mricode.pagination.js"></script>
<script src="/static/js/video.js"></script>
</body>
</html>